# Regression Predict Student Solution

© Explore Data Science Academy

---
### Honour Code

I {**Ikaneng, Malapile**}, confirm - by submitting this document - that the solutions in this notebook are a result of my own work and that I abide by the [EDSA honour code](https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

### Predict Overview: Spain Electricity Shortfall Challenge

The government of Spain is considering an expansion of it's renewable energy resource infrastructure investments. As such, they require information on the trends and patterns of the countries renewable sources and fossil fuel energy generation. Your company has been awarded the contract to:

- 1. analyse the supplied data;
- 2. identify potential errors in the data and clean the existing data set;
- 3. determine if additional features can be added to enrich the data set;
- 4. build a model that is capable of forecasting the three hourly demand shortfalls;
- 5. evaluate the accuracy of the best machine learning model;
- 6. determine what features were most important in the model’s prediction decision, and
- 7. explain the inner working of the model to a non-technical audience.

Formally the problem statement was given to you, the senior data scientist, by your manager via email reads as follow:

> In this project you are tasked to model the shortfall between the energy generated by means of fossil fuels and various renewable sources - for the country of Spain. The daily shortfall, which will be referred to as the target variable, will be modelled as a function of various city-specific weather features such as `pressure`, `wind speed`, `humidity`, etc. As with all data science projects, the provided features are rarely adequate predictors of the target variable. As such, you are required to perform feature engineering to ensure that you will be able to accurately model Spain's three hourly shortfalls.
 
On top of this, she has provided you with a starter notebook containing vague explanations of what the main outcomes are.

<a id="cont"></a>

## Table of Contents

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Loading Data</a>

<a href=#three>3. Exploratory Data Analysis (EDA)</a>

<a href=#four>4. Data Engineering</a>

<a href=#five>5. Modeling</a>

<a href=#six>6. Model Performance</a>

<a href=#seven>7. Model Explanations</a>

 <a id="one"></a>
## 1. Importing Packages
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Importing Packages ⚡ |
| :--------------------------- |
| In this section you are required to import, and briefly discuss, the libraries that will be used throughout your analysis and modelling. |

---

In [1]:
# Libraries for data loading, data manipulation and data visulisation
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import rc
import seaborn as sns
import plotly.express as px

import warnings
warnings.filterwarnings('ignore')
# Libraries for data preparation and model building

from mpl_toolkits.mplot3d import Axes3D
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from statsmodels.graphics.correlation import plot_corr
from statsmodels.formula.api import ols
# Setting global constants to ensure notebook results are reproducible
#PARAMETER_CONSTANT = ###

<a id="two"></a>
## 2. Loading the Data
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Loading the data ⚡ |
| :--------------------------- |
| In this section you are required to load the data from the `df_train` file into a DataFrame. |

---

In [2]:
df_test = pd.read_csv('df_test.csv', index_col = 0)
df_train = pd.read_csv('df_train.csv')

df_test = df_test.sort_index(axis = 1)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df_test.head(20)

,Barcelona_pressure,Barcelona_rain_1h,Barcelona_rain_3h,Barcelona_temp,Barcelona_temp_max,Barcelona_temp_min,Barcelona_weather_id,Barcelona_wind_deg,Barcelona_wind_speed,Bilbao_clouds_all,Bilbao_pressure,Bilbao_rain_1h,Bilbao_snow_3h,Bilbao_temp,Bilbao_temp_max,Bilbao_temp_min,Bilbao_weather_id,Bilbao_wind_deg,Bilbao_wind_speed,Madrid_clouds_all,Madrid_humidity,Madrid_pressure,Madrid_rain_1h,Madrid_temp,Madrid_temp_max,Madrid_temp_min,Madrid_weather_id,Madrid_wind_speed,Seville_clouds_all,Seville_humidity,Seville_pressure,Seville_rain_1h,Seville_rain_3h,Seville_temp,Seville_temp_max,Seville_temp_min,Seville_weather_id,Seville_wind_speed,Valencia_humidity,Valencia_pressure,Valencia_snow_3h,Valencia_temp,Valencia_temp_max,Valencia_temp_min,Valencia_wind_deg,Valencia_wind_speed,time
8763,1017.333333,0.0,0.0,287.356667,287.816667,286.816667,800.000000,176.666667,4.000000,20.000000,1025.666667,0.0,0,280.380000,285.150000,276.150000,801.000000,193.333333,3.000000,0.000000,71.333333,1030.000000,0.0,279.866667,280.816667,279.150000,800.000000,5.000000,0.000000,87.000000,sp25,0.0,0.0,283.673333,284.483333,283.150000,800.000000,1.000000,46.333333,NaN,0,287.483333,287.483333,287.483333,level_8,5.000000,2018-01-01 00:00:00
8764,1020.333333,0.0,0.0,284.190000,284.816667,283.483333,800.333333,266.666667,4.666667,0.000000,1026.666667,0.0,0,281.010000,284.150000,277.816667,721.000000,143.333333,3.666667,0.000000,78.000000,1030.333333,0.0,279.193333,280.483333,278.150000,800.000000,4.666667,0.000000,89.000000,sp25,0.0,0.0,281.673333,282.483333,281.150000,800.000000,0.666667,53.666667,NaN,0,284.150000,284.150000,284.150000,level_8,5.333333,2018-01-01 03:00:00
8765,1023.000000,0.0,0.0,283.150000,284.483333,281.816667,800.000000,263.333333,4.000000,0.000000,1025.333333,0.0,0,279.196667,282.150000,276.816667,800.000000,130.000000,2.333333,0.000000,89.666667,1030.666667,0.0,276.340000,276.483333,276.150000,800.000000,2.333333,6.666667,89.000000,sp25,0.0,0.0,280.613333,280.816667,280.483333,800.333333,0.666667,42.000000,NaN,0,282.816667,282.816667,282.816667,level_7,5.000000,2018-01-01 06:00:00
8766,1025.666667,0.0,0.0,283.190000,284.150000,282.150000,800.000000,86.666667,2.333333,26.666667,1025.000000,0.0,0,281.740000,284.483333,279.150000,801.333333,196.666667,5.666667,0.000000,82.666667,1032.333333,0.0,275.953333,277.150000,274.483333,800.000000,2.666667,6.666667,93.333333,sp25,0.0,0.0,279.936667,281.150000,279.150000,800.333333,1.333333,45.000000,NaN,0,283.483333,283.483333,283.483333,level_7,5.333333,2018-01-01 09:00:00
8767,1026.000000,0.0,0.0,286.816667,287.483333,286.150000,800.333333,283.333333,4.666667,26.666667,1022.333333,0.0,0,284.116667,286.816667,281.816667,801.333333,233.333333,10.666667,0.000000,64.000000,1032.333333,0.0,280.686667,281.150000,280.150000,800.000000,4.000000,0.000000,65.333333,sp25,0.0,0.0,285.570000,287.150000,284.483333,800.000000,1.000000,41.000000,NaN,0,287.150000,287.150000,287.150000,level_7,8.666667,2018-01-01 12:00:00
8768,1022.000000,0.0,0.0,287.150000,287.483333,286.816667,800.000000,250.000000,7.333333,56.666667,1020.666667,0.4,0,284.526667,285.816667,283.483333,600.666667,153.333333,5.333333,38.333333,61.333333,1030.333333,0.0,283.643333,284.483333,282.816667,801.666667,5.666667,0.000000,41.000000,sp25,0.0,0.0,289.053333,291.483333,287.483333,800.000000,1.666667,32.000000,NaN,0,289.816667,289.816667,289.816667,level_8,8.333333,2018-01-01 15:00:00
8769,1020.666667,0.0,0.0,286.670000,287.150000,286.150000,800.000000,260.000000,6.666667,75.000000,1024.666667,0.7,0,283.840000,286.150000,282.150000,500.666667,310.000000,9.666667,56.666667,76.000000,1030.333333,0.0,282.596667,283.483333,281.816667,802.333333,3.666667,0.000000,54.333333,sp25,0.0,0.0,287.196667,288.816667,286.150000,800.000000,0.666667,42.333333,NaN,0,288.150000,288.150000,288.150000,level_8,7.333333,2018-01-01 18:00:00
8770,1021.666667,0.0,0.0,286.483333,287.150000,285.816667,800.000000,260.000000,5.666667,75.000000,1026.666667,0.3,0,283.196667,285.150000,281.483333,500.000000,316.666667,4.666667,31.666667,79.333333,1030.333333,0.0,281.840000,282.483333,281.150000,801.333333,7.000000,0.000000,63.666667,sp25,0.0,0.0,282.723333,285.150000,281.150000,800.000000,1.000000,48.666667,NaN,0,287.150000,287.150000,287.150000,level_8,6.666667,2018-01-01 21:00:00
8771,1022.000000,0.0,0.0,285.170000,285.483333,284.816667,800.333333,286.666667,4.000000,79.333333,1027.333333,0.5,0,283.046667,284.483333,281.816667,500.333333,70.000000,1.666667,6.666667,69.333333,1031.000000,0.0,281.630000,283.150000,280.483333,800.333333,7.000000,0.000000,79.333333,sp25,0.0,0.0,279.923333,282.150000,278.483333,800.000000,0.333333,56.666667,NaN,0,286.483333,286.483333,286.483333,level_7,7.666667,2018-01-02 00:00:00
8772,1023.000000,0.0,0.0,282.983333,283.150000,282.816667,800.000000,180.000000,3.333333,44.000000,1026.666667,0.2,0,283.043333,284.150000,282.150000,600.500000,202.666667,1.000000,0.000000,69.000000,1030.666667,0.0,280.583333,282.483333,279.150000,800.000000,5.000000,0.000000,87.000000,sp25,0.0,0.0,278.256667,280.483333,276.816667,800.000000,2.000000,62.000000,NaN,0,286.150000,286.150000,286.150000,level_8,6.000000,2018-01-02 03:00:00
8773,1022.666667,0.0,0.0,283.316667,284.150000,282.483333,800.000000,176.666667,2.666667,75.000000,1025.000000,0.2,0,283.083333,285.483333,281.150000,601.000000,70.000000,1.000000,13.333333,62.666667,1030.333333,0.0,280.840000,283.150000,279.150000,800.666667,4.333333,0.000000,91.000000,sp25,0.0,0.0,277.603333,278.816667,276.816667,800.000000,1.333333,66.000000,NaN,0,285.150000,285.150000,285.150000,level_8,4.666667,2018-01-02 06:00:00
8774,1024.666667,0.0,0.0,283.150000,284.150000,282.150000,800.000000,3.333333,1.000000,75.000000,1026.666667,0.3,0,283.423333,285.483333,281.483333,500.000000,223.333333,4.000000,20.000000,75.000000,1032.000000,0.0,280.250000,282.150000,277.483333,801.000000,3.000000,0.000000,89.000000,sp25,0.0,0.0,277.793333,279.816667,276.483333,800.000000,2.000000,58.000000,NaN,0,286.150000,286.150000,286.150000,level_8,6.333333,2018-01-02 09:00:00
8775,1024.666667,0.0,0.0,286.983333,287.150000,286.816667,800.000000,280.000000,4.000000,75.000000,1027.333333,0.5,0,284.213333,285.816667,282.816667,500.333333,146.666667,2.666667,38.333333,76.333333,1032.666667,0.0,283.673333,285.483333,282.483333,801.666667,5.666667,0.000000,68.333333,sp25,0.0,0.0,285.473333,286.483333,284.816667,800.000000,1.000000,43.000000,NaN,0,290.150000,290.150000,290.150000,level_9,8.666667,2018-01-02 12:00:00
8776,1023.000000,0.0,0.0,289.650000,290.150000,289.150000,800.666667,270.000000,4.666667,68.333333,1025.000000,0.0,0,286.340000,288.150000,284.816667,803.000000,143.333333,2.666667,26.666667,71.000000,1032.000000,0.0,285.413333,286.816667,284.483333,801.333333,3.666667,0.000000,55.666667,sp25,0.0,0.0,289.130000,291.150000,287.816667,800.000000,1.000000,40.000000,NaN,0,291.816667,291.816667,291.816667,level_8,6.666667,2018-01-02 15:00:00
8777,1023.000000,0.0,0.0,288.483333,289.483333,287.483333,800.333333,173.333333,2.000000,63.333333,1026.000000,0.0,0,286.656667,289.150000,284.483333,802.666667,113.333333,2.333333,45.000000,83.333333,1032.333333,0.0,283.416667,284.483333,282.483333,802.000000,3.666667,0.000000,63.333333,sp25,0.0,0.0,287.923333,289.483333,286.816667,800.000000,0.666667,45.000000,NaN,0,290.816667,290.816667,290.816667,level_9,6.000000,2018-01-02 18:00:00
8778,1023.000000,0.0,0.0,287.296667,287.816667,286.816667,800.000000,182.000000,2.666667,33.333333,1026.666667,0.0,0,285.953333,287.150000,284.816667,801.666667,156.666667,2.333333,25.000000,87.000000,1032.000000,0.0,281.616667,282.483333,280.816667,801.000000,3.000000,0.000000,85.000000,sp25,0.0,0.0,283.403333,284.816667,282.483333,800.000000,1.000000,54.333333,NaN,0,288.483333,288.483333,288.483333,level_9,5.666667,2018-01-02 21:00:00
8779,1023.000000,0.0,0.0,286.650000,287.150000,286.150000,800.000000,263.333333,3.333333,45.000000,1026.000000,0.0,0,287.043333,288.816667,285.483333,741.333333,73.333333,2.333333,0.000000,97.666667,1032.000000,0.0,280.123333,280.483333,279.816667,800.000000,2.666667,13.333333,85.000000,sp25,0.0,0.0,282.183333,284.150000,280.816667,800.666667,0.333333,59.333333,NaN,0,287.150000,287.150000,287.150000,level_8,5.333333,2018-01-03 00:00:00
8780,1023.000000,0.0,0.0,286.510000,286.816667,286.150000,801.000000,270.000000,4.666667,83.333333,1026.333333,0.0,0,289.496667,291.150000,287.816667,721.000000,76.666667,1.666667,48.000000,100.000000,1031.000000,0.0,280.850000,281.150000,280.483333,735.000000,1.666667,50.000000,81.000000,sp25,0.0,0.0,283.530000,285.150000,282.483333,802.000000,2.000000,67.666667,NaN,0,286.150000,286.150000,286.150000,level_8,5.666667,2018-01-03 03:00:00
8781,1022.666667,0.0,0.0,284.650000,285.150000,284.150000,801.000000,269.333333,3.000000,75.000000,1025.000000,0.0,0,288.943333,290.816667,287.483333,803.000000,240.000000,3.000000,51.666667,97.666667,1031.333333,0.0,281.066667,282.150000,279.483333,714.333333,2.333333,90.000000,83.666667,sp25,0.0,0.0,284.236667,285.816667,283.150000,804.000000,1.333333,71.000000,NaN,0,286.150000,286.150000,286.150000,level_8,4.666667,2018-01-03 06:00:00
8782,1023.000000,0.0,0.0,287.670000,288.483333,286.816667,801.000000,233.333333,4.333333,45.000000,1027.000000,0.0,0,287.636667,289.150000,286.483333,802.000000,181.666667,1.333333,90.000000,100.000000,1032.666667,0.0,281.906667,282.483333,281.150000,721.000000,3.000000,90.000000,82.000000,sp25,0.0,0.0,285.200000,286.816667,284.150000,804.000000,0.666667,65.333333,NaN,0,287.816667,287.816667,287.816667,level_8,4.333333,2018-01-03 09:00:00

In [17]:
df['Seville_rain_3h']

NameError: name 'df' is not defined

<a id="three"></a>
## 3. Exploratory Data Analysis (EDA)
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Exploratory data analysis ⚡ |
| :--------------------------- |
| In this section, you are required to perform an in-depth analysis of all the variables in the DataFrame. |

---

In [3]:
# look at data statistics
df.describe()

In [4]:
# plot relevant feature interactions

In [5]:
# evaluate correlation

In [6]:
# have a look at feature distributions

<a id="four"></a>
## 4. Data Engineering
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Data engineering ⚡ |
| :--------------------------- |
| In this section you are required to: clean the dataset, and possibly create new features - as identified in the EDA phase. |

---

In [7]:
# remove missing values/ features

In [8]:
# create new features

In [9]:
# engineer existing features

<a id="five"></a>
## 5. Modelling
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Modelling ⚡ |
| :--------------------------- |
| In this section, you are required to create one or more regression models that are able to accurately predict the thee hour load shortfall. |

---

In [10]:
# split data

In [11]:
# create targets and features dataset

In [12]:
# create one or more ML models

In [13]:
# evaluate one or more ML models

<a id="six"></a>
## 6. Model Performance
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model performance ⚡ |
| :--------------------------- |
| In this section you are required to compare the relative performance of the various trained ML models on a holdout dataset and comment on what model is the best and why. |

---

In [14]:
# Compare model performance

In [15]:
# Choose best model and motivate why it is the best choice

<a id="seven"></a>
## 7. Model Explanations
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model explanation ⚡ |
| :--------------------------- |
| In this section, you are required to discuss how the best performing model works in a simple way so that both technical and non-technical stakeholders can grasp the intuition behind the model's inner workings. |

---

In [16]:
# discuss chosen methods logic